/* NAV STYLE  */

.menu {
	display: flex;
	/* margin: 0px 0px 0px 20px; */
	height: 50px;
	width: 100%;
	background-color: #5c9cb6;
}

label {
	padding: 14px;
}

select {
	height: 25px;
	margin: 15px;
	border: 1px solid #161515;
	border-radius: 2px;
}


/* Fetch css */

.App {
    text-align: right;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #1b1b1b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(31, 129, 129);
  }
  
  .App-link {
    color: #000;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .input_tab{
    padding: 15px 18px;
    margin-top: 10px;
    border-radius: 19px;
    background: #fff;
    color: black;
    box-shadow: none;
    outline-width: 0;
    text-align: center;
    font-size: 18px;
  }